@model Proyecto_Gestion.Dtos.UserDto
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-6">
        <div class="form-container position-relative">
            <div class="title-container">
                <h4 class="text-center">Ingreso</h4>
            </div>
            <div class="logo-container text-center mb-4">
                <img src="~/imagenes/logo.png" alt="Logo" class="logo-img">
            </div>
            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="Nit" class="font-weight-bold">Número de Identificación (NIT)</label>
                    <input type="text" class="form-control" id="Nit" name="Nit" placeholder="Ingresa tu identificación" value="@Model.Nit" />
                    @Html.ValidationMessageFor(model => model.Nit, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Contrasenia" class="font-weight-bold">Contraseña</label>
                    <input type="password" class="form-control" id="Contrasenia" name="Contrasenia" placeholder="Ingresa tu contraseña" />
                    @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
                </div>

                <div class="button-container text-center">
                    <button type="submit" class="btn btn-primary mx-2">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #ffffff;
    }

    .form-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .title-container {
        background-color: #CDAA7D;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    h4 {
        color: #000;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        font-size: 40px;
        margin: 0;
    }

    .form-control {
        height: 45px;
        border-radius: 25px;
        box-shadow: none;
        transition: border-color 0.3s ease;
    }

        .form-control:focus {
            border-color: #800000;
            box-shadow: none;
        }

    .btn-primary {
        background-color: #CDAA7D;
        border-color: #A67B54;
        border-radius: 25px;
        padding: 10px 25px;
        font-size: 18px;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #c87a67;
            border-color: #9c6558;
        }

    .button-container {
        margin-top: 30px;
    }

    .logo-container img {
        max-width: 150px;
        border-radius: 50%;
    }
</style>
